.login-inner {
  margin-top: $header-height + 56px;
  .inner {
    padding: 56px 0;
    background-color: #fff;
  }

  .register-form {
    margin-top: 0;
  }

  .register-item {
    text-align: center;
  }

  .register-input {
    justify-content: center;
    max-width: 340px;
    margin: 23px auto 0;
  }
}

.register-guid {
  text-align: center;
  margin-top: 32px;
  a {
    color: $cr-m;
  }
}

.return-login {
  font-size: 12px;
  transition: color .3s;

  &:hover {
    color: $cr-m;
  }
}
