.register_shop {
  .register-form {
    text-align: center;
  }

  .register-input {
    justify-content: center;
    position: relative;

    .invalid {
      margin-top: 0;
      position: absolute;
      left: 0;
      top: 100%;
      white-space: nowrap;
    }
  }

}

.register-input__shop {
  align-items: center;
  height: 50px;

    #area {
      height: 100%;
      width: 180px;
      margin-right: 15px;
    }
}

.register-area {
  display: flex;
  justify-content: center;

  .register-input:first-child {
    margin-right: 40px;
  }
}
