.shop_prefecture:not(:first-child) {
  margin-top: 18px;
}
.shop-list {
  display: flex;
  flex-wrap: wrap;
}

.shop-item {
  margin-right: 30px;
  margin-top: 16px;
  transition: color .3s;

  &:hover {
    color: $cr-m;
  }
}
